<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="/stvcpms/dashboard" >
     
      <img src="../../../../assets/img/logos/logo.png"class="navbar-brand-img h-100"   alt="logo">
      <span class="ms-1 font-weight-bold">SELAM-PMS</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    
    <a class="btn bg-gradient-secondary mt-3 w-90" href="/stvcpms/addnewannualplan">Create New Plan</a>
    <ul class="navbar-nav">
   
      <li class="nav-item">
        <a class="nav-link  href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="SG">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.77 0 3.41-.72 4.58-1.89l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5c0 1.24-.51 2.36-1.33 3.17L9.41 14.9c.34-.46.59-1 .71-1.58l.07-.35zm10.11 10.11L18 20.49l-4.11-4.12a8.46 8.46 0 0 1-5.32 1.86C5.01 17.23 2 14.22 2 9.5S5.01 2 9.5 2 17 5.01 17 9.5c0 2.04-.75 3.9-1.99 5.32l4.12 4.11zm-10.6-5.34l.35-.07c.58-.12 1.12-.37 1.58-.71l1.33 1.34c-.81.82-1.93 1.33-3.17 1.33A4.5 4.5 0 0 1 8.5 9.5c0-1.24.51-2.36 1.33-3.17z"/>
            </svg>
            
          </div>
          <span class="nav-link-text ms-1">Goals</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="SD">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.77 0 3.41-.72 4.58-1.89l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5c0 1.24-.51 2.36-1.33 3.17L9.41 14.9c.34-.46.59-1 .71-1.58l.07-.35zm10.11 10.11L18 20.49l-4.11-4.12a8.46 8.46 0 0 1-5.32 1.86C5.01 17.23 2 14.22 2 9.5S5.01 2 9.5 2 17 5.01 17 9.5c0 2.04-.75 3.9-1.99 5.32l4.12 4.11zm-10.6-5.34l.35-.07c.58-.12 1.12-.37 1.58-.71l1.33 1.34c-.81.82-1.93 1.33-3.17 1.33A4.5 4.5 0 0 1 8.5 9.5c0-1.24.51-2.36 1.33-3.17z"/>
            </svg>
            
          </div>
          <span class="nav-link-text ms-1">Outcomes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="MA">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.77 0 3.41-.72 4.58-1.89l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5c0 1.24-.51 2.36-1.33 3.17L9.41 14.9c.34-.46.59-1 .71-1.58l.07-.35zm10.11 10.11L18 20.49l-4.11-4.12a8.46 8.46 0 0 1-5.32 1.86C5.01 17.23 2 14.22 2 9.5S5.01 2 9.5 2 17 5.01 17 9.5c0 2.04-.75 3.9-1.99 5.32l4.12 4.11zm-10.6-5.34l.35-.07c.58-.12 1.12-.37 1.58-.71l1.33 1.34c-.81.82-1.93 1.33-3.17 1.33A4.5 4.5 0 0 1 8.5 9.5c0-1.24.51-2.36 1.33-3.17z"/>
            </svg>
            
          </div>
          <span class="nav-link-text ms-1">Outputs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="DA">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.77 0 3.41-.72 4.58-1.89l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5c0 1.24-.51 2.36-1.33 3.17L9.41 14.9c.34-.46.59-1 .71-1.58l.07-.35zm10.11 10.11L18 20.49l-4.11-4.12a8.46 8.46 0 0 1-5.32 1.86C5.01 17.23 2 14.22 2 9.5S5.01 2 9.5 2 17 5.01 17 9.5c0 2.04-.75 3.9-1.99 5.32l4.12 4.11zm-10.6-5.34l.35-.07c.58-.12 1.12-.37 1.58-.71l1.33 1.34c-.81.82-1.93 1.33-3.17 1.33A4.5 4.5 0 0 1 8.5 9.5c0-1.24.51-2.36 1.33-3.17z"/>
            </svg>
            
          </div>
          <span class="nav-link-text ms-1">Activities</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="DP">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.77 0 3.41-.72 4.58-1.89l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5c0 1.24-.51 2.36-1.33 3.17L9.41 14.9c.34-.46.59-1 .71-1.58l.07-.35zm10.11 10.11L18 20.49l-4.11-4.12a8.46 8.46 0 0 1-5.32 1.86C5.01 17.23 2 14.22 2 9.5S5.01 2 9.5 2 17 5.01 17 9.5c0 2.04-.75 3.9-1.99 5.32l4.12 4.11zm-10.6-5.34l.35-.07c.58-.12 1.12-.37 1.58-.71l1.33 1.34c-.81.82-1.93 1.33-3.17 1.33A4.5 4.5 0 0 1 8.5 9.5c0-1.24.51-2.36 1.33-3.17z"/>
            </svg>
            
          </div>
          <span class="nav-link-text ms-1">Plan Detail</span>
        </a>
      </li>
      <hr class="horizontal dark mt-0">
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="VP">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>box-3d-50</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(603.000000, 0.000000)">
                      <path class="color-background" d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                      <path class="color-background opacity-6" d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"></path>
                      <path class="color-background opacity-6" d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            </div>
          <span class="nav-link-text ms-1">View Progress</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="javascript:void(0)" data-toggle="modal" data-target="#plan" data-foo=${FOO} data-toggler="VF">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>box-3d-50</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(603.000000, 0.000000)">
                      <path class="color-background" d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                      <path class="color-background opacity-6" d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"></path>
                      <path class="color-background opacity-6" d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">View Final Report</span>
        </a>
      </li>
   
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Setting</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/stvcpms/createtargetgroup">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>customer-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                      <path class="color-background" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                      <path class="color-background" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Create Target Group</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/stvcpms/createdepartment">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>customer-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                      <path class="color-background" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                      <path class="color-background" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Create Department</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/stvcpms/createoccupation">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>customer-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                      <path class="color-background" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                      <path class="color-background" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Create Occupation</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/stvcpms/createactivityindicator">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>customer-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                      <path class="color-background" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                      <path class="color-background" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Create Activity Indicator</span>
        </a>
      </li>
      
      
    </ul>
  </div>
 
  </div>
</aside>
<div class="modal fade" id="plan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Plan To View</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/stvcpms/selectplantoviewdetail" method="post">
      
        <div class="modal-body">
           
          <input type="hidden" class="js-toggler__input" value="" name="configcat" >
         <select class="form-control" name="planid">
          <option value="0">Please Select Plan Here</option>
          <% if(allplans.length>0){ %>
           <% allplans.forEach(function(row){ %>
              <option value="<%= row.planid %>"><%= row.plantitle %></option>
           <% })%>
         <% }else {%>
          <label>No plan where found</label>
          <%} %>
         </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('[data-toggle="modal"]').on('click', function () {
    const toggler = $(this);
    const toggler_identifier = toggler.attr('data-toggler');
    let modal_id = toggler.attr('data-target');
    $(modal_id).find('.js-toggler__input').val(toggler_identifier);
    $(modal_id).find('.configtype').html(toggler_identifier);
});
</script>